@import '../styles/mixins';
@import '../styles/constants.scss';

.productPage {
  @include flex('center', 'space-between');
  max-width: 1264px;
  width: 100%;
  margin: 20px 0;
}

.adminPanelPage {
  max-width: 1440px;
  width: 100%;

  .header {
    background: white;
    border-bottom: 1px solid $lightgray;
    @include flex('center', 'left');
    padding: 0 24px;
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
  }

  .sider {
    background: white;
    padding-top: 24px;
    border-right: 1px solid $lightgray;
    height: calc(100vh - 64px);
  }
}

.loginPage {
  width: 100%;
  @include flex('center', 'center');

  form {
    border: 1px solid $lightgray;
    padding: 30px;
    width: 40%;
    @include flex('center', 'center');
    flex-direction: column;

    div {
      width: 100%;
      @include flex('center', 'left');
    }

    button {
      background: $blue;
    }

    .rememberMe {
      :global(.ant-checkbox-checked .ant-checkbox-inner) {
        background: $blue;
      }
    }
  }
}