@import '../../styles/mixins.scss';
@import '../../styles/constants.scss';

.stocks, .catalog, .logo, .address, .userButtons {
  width: 15%;
  padding: 0;
}

button {
  @include flex('center', 'center');
  background: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  border: none;
  box-shadow: none;
  text-decoration: none;
  color: black;
  padding: 0;

  &:hover {
    color: $blue;
  }
}

.logo {
  width: 20%;

  img {
    width: 40%;
  }
}

.address {
  @include flex('center', 'center');
}

.addressPopover {
  font-size: 15px;
  font-weight: 400;
}

.userButtons {
  @include flex('center', 'center');

  button {
    @include flex('center', 'center');
    width: 30px;

    &:hover {
      color: $blue;
      background-color: white;

      div {
        color: $blue;
      }
    }
  }

  .languageMenu {
    padding: 0;
    border: 0;
    box-shadow: none;
    font-size: 20px;
    margin: 0 5px;
    @include flex('center', 'center');

    span {
      font-size: 15px;
    }
  }

  .favorites {
    width: 30px;
  }

  .shoppingCart {
    span {
      font-size: 25px;

      &:hover {
        color: $blue;

        sup {
          background: $lightblue;
        }
      }
    }

    sup {
      transform: translate(70%, -60%);
      background: $blue;

      span {
        font-size: 12px;
        color: white;
      }
    }
  }

  .favorites, .profile, .shoppingCart {
    margin: 0 5px;
    font-size: 25px;

    @media (max-width: 1024px) {
      font-size: 20px;
    }
  }
}