$white: #fff;
$black: #222323;
$gray: #4B4B4B;
$lightgray: #e9ecef;
$green: #177C0A;
$yellow: rgba(229, 155, 0, 1);
$blue: #127DCA;
$red: #CC0000;
$background-green: radial-gradient(50% 50% at 50% 50%, rgba(23, 124, 10, 0.8) 0%, #0B6100 100%);
