@mixin font-face($name, $file, $weight: 400, $style: normal) {
    @font-face {
        font-family: "#{$name}";
        src: local("#{$file}"), url("../assets/fonts/#{$file}.woff2") format("woff2"),
            url("../assets/fonts/#{$file}.woff") format("woff");
        font-weight: $weight;
        font-style: $style;
        font-display: swap;
    }
}

@mixin flex($alignItems: 'center', $justifyContent: 'center') {
    display: flex;
    align-items: #{$alignItems};
    justify-content: #{$justifyContent};
}

@mixin menuLinks {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    box-shadow: none;
    text-decoration: none;
    color: black;
    min-height: 60px;
    width: 100%;
    @include flex('center', '');
    border-bottom: 1px solid gray;
}